<div class="panel-group category-products" id="accordian">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a href="/profile"> <%= t "profiles.information_personal" %></a></h4>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a href="<%= users_orders_path %>"><%= t "menu.my_orders" %></a></h4>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a href="<%= users_loves_path %>"><%= t "menu.product_favorites" %></a></h4>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a href="<%= users_history_product_path %>"><%= t "menu.product_view_history" %></a></h4>
    </div>
  </div>
</div>
