<section>
  <div class="container">
    <div class="row">
      <div class= "col-sm-1 "></div>
      <div class= "col-sm-11 " >
        <h2 class="title text-center">Category: <%= @results[:list_post].first&.category_post.name %></h2>
        <% @results[:list_post].each do |item| %>
          <a href="/<%=I18n.locale %>/blog_detail/<%= item.title.parameterize%>~<%=item.id %>" style="color: black">
            <article>
              <img src="<%= url_for(item.image) if item.image.attached? %>" alt="Image" class="list_post">
              <div class="text">
                <h4><%= item.title %></h4>
                <p>
                  <i class="fa fa-calendar"></i> <%= item.created_at.strftime("%d/%m/%Y") %>
                  <i class="fa fa-user"></i> <%= item.user.username %>
                </p>
                <p><%= item.content %></p>
                <a  class="btn btn-primary" href="/<%=I18n.locale %>/blog_detail/<%= item.title.parameterize%>~<%=item.id %>"><%= t("blogs.read_more") %></a>
              </div>
            </article>
          </a>
        <% end %>
        <div style="text-align: center">
          <%= paginate @results[:list_post], theme: 'twitter-bootstrap-4' %>
        </div>
      </div>
</section>
