<%= javascript_include_tag "//www.google.com/jsapi" %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartkick/1.3.0/chartkick.min.js" integrity="sha512-yZq6Kg/RKA6FcdT1iQcce5DN5WqzlzuVDpEWa3dWwpqcArOkiE/1ueacDGZ0LHVIP+7jJLSYETeOD1lEqQMIjA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<form action="/admin">
  <label for="bday-month"><%= t "admin.statistic_product.month_year" %></label>
  <input id="bday-month" type="month" name="month_year" value="<%= @result[:year] %>-<%= @result[:month] %>">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>
<div id="root" style="margin-top: 10px">
  <div class="container pt-5">
    <div class="row align-items-stretch">
      <div class="c-dashboardInfo col-lg-3 col-md-6 col-xs-3">
        <div class="wrap">
          <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title"><%= t "admin.statistic_product.revenue"%> <%= @result[:month] %>/<%= @result[:year] %> <svg
              class="MuiSvgIcon-root-19" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
            </svg></h4>
          <span class="hind-font caption-12 c-dashboardInfo__count">$<%= @result[:data].present? ? @result[:data] : 0 %></span>
        </div>
      </div>
      <div class="c-dashboardInfo col-lg-3 col-md-6 col-xs-3">
        <div class="wrap">
          <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title"><%= t "admin.statistic_product.sold_product"%> <%= @result[:month] %>/<%= @result[:year] %> <svg
              class="MuiSvgIcon-root-19" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
            </svg></h4>
          <span class="hind-font caption-12 c-dashboardInfo__count"><%= @result[:sold] %></span>
        </div>
      </div>
      <div class="c-dashboardInfo col-lg-3 col-md-3 col-xs-6">
        <div class="wrap">
          <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title"><%= t "admin.statistic_product.total_order_cancel"%> <%= @result[:month] %>/<%= @result[:year] %>
          </svg></h4>
        <span class="hind-font caption-12 c-dashboardInfo__count"><%=   @result[:total_order_cancel]%></span>
      </div>
    </div>
    <div class="c-dashboardInfo col-lg-3 col-md-6 col-xs-3">
      <div class="wrap">
        <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title"><%= t "admin.statistic_product.total_product_system"%> <svg
              class="MuiSvgIcon-root-19" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
          </svg></h4>
        <span class="hind-font caption-12 c-dashboardInfo__count"><%= Product.pluck("id").size%></span>
      </div>
    </div>
    <div class="c-dashboardInfo col-lg-3 col-md-6 col-xs-3">
      <div class="wrap">
        <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title"><%= t "admin.statistic_product.best_selling"%> <%= @result[:month] %>/<%= @result[:year] %> <svg
              class="MuiSvgIcon-root-19" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
          </svg></h4>
        <span class="hind-font caption-12 c-dashboardInfo__count"></span>
        <!-- Button trigger modal -->
        <div type="button" class="btn" style="border-color: #dadada;" data-toggle="modal" data-target="#exampleModalCenter">
          <% if @result[:statistic_products][:best_seller].nil? == false && @result[:statistic_products][:best_seller].image.attached?  %>
            <%= image_tag main_app.url_for( @result[:statistic_products][:best_seller].image) , alt: "img", id:"best_seller", class: "imageProduct" ,size: "70x70" %>
          <% else %>
            <span>NULL </span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="c-dashboardInfo col-lg-3 col-md-6 col-xs-3">
      <div class="wrap" style="height: 195px;overflow: hidden;">
        <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title"><%= t "admin.statistic_product.best_Keyword_search"%> <%= @result[:month] %>/<%= @result[:year] %>
          <% if  @result[:statistic_products][:best_keyword_search].present? %>
          </svg></h4>
        <span class="hind-font caption-12 c-dashboardInfo__count" style="height: 95px;"><%= @result[:statistic_products][:best_keyword_search].key_word%></span>
      <% else %>
      </svg></h4>
    <span class="hind-font caption-12 c-dashboardInfo__count"></span>
  <% end %>
  <!-- Button trigger modal -->
</div>
</div>
<div class="c-dashboardInfo col-lg-3 col-md-6 col-xs-3">
  <div class="wrap">
    <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title"><%= t "admin.statistic_product.best_view"%> <%= @result[:month] %>/<%= @result[:year] %> <svg
              class="MuiSvgIcon-root-19" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
      </svg></h4>
    <% if @result[:statistic_products][:best_product_views].present? %>
      <div type="button" class="btn" style="border-color: #dadada;">
        <a  href="/<%=I18n.locale %>/product-details/<%=  @result[:statistic_products][:best_product_views].title.parameterize%>~<%= @result[:statistic_products][:best_product_views].id%>">
          <%= image_tag main_app.url_for( @result[:statistic_products][:best_product_views].image) , alt: "img", id:"best_seller", class: "imageProduct" ,size: "70x70" %>
        </a>
      </div>
    <% else %>
      <span class="hind-font caption-12 c-dashboardInfo__count">NULL</span>
    <% end %>
  </div>
</div>
<div class="c-dashboardInfo col-lg-3 col-md-6 col-xs-3">
  <div class="wrap">
    <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title" style="margin-top: 30px"><%= t "admin.statistic_product.voucher"%>: <%= @result[:month] %>/<%= @result[:year] %> <svg
              class="MuiSvgIcon-root-19" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
      </svg></h4>
    <span class="hind-font caption-12 c-dashboardInfo__count"><%= @result[:statistic_products][:vouchers] > 0 ? @result[:statistic_products][:vouchers] : 0 %></span>
  </div>
</div>
<div class="c-dashboardInfo col-lg-3 col-md-6 col-xs-3">
  <div class="wrap">
    <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title"><%= t "admin.statistic_product.total_availability"%> <svg
              class="MuiSvgIcon-root-19" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
      </svg></h4>
    <span class="hind-font caption-12 c-dashboardInfo__count"><%= @total_availabilitys %></span>
  </div>
</div>
<div class="c-dashboardInfo col-lg-3 col-md-3 col-xs-6">
  <div class="wrap">
    <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title"><%= t "admin.statistic_product.top_availability_best_selling"%> <svg
              class="MuiSvgIcon-root-19" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
      </svg></h4>
    <span class="hind-font caption-12 c-dashboardInfo__count"><%=  @result[:statistic_products][:best_availability]  ? @result[:statistic_products][:best_availability]&.name : 'NULL' %></span>
  </div>
</div>
<div class="c-dashboardInfo col-lg-3 col-md-3 col-xs-6">
  <div class="wrap">
    <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title"><%= t "admin.statistic_product.top_availability_is_ordering"%> <svg
              class="MuiSvgIcon-root-19" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
      </svg></h4>
    <span class="hind-font caption-12 c-dashboardInfo__count"><%=  @result[:statistic_products][:best_availability_ordering]  ? @result[:statistic_products][:best_availability_ordering]&.name : 'NULL' %></span>
  </div>
</div>
<div class="c-dashboardInfo col-lg-3 col-md-3 col-xs-6">
  <div class="wrap">
    <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title"><%= t "admin.statistic_product.total_service_shipping"%> <svg
              class="MuiSvgIcon-root-19" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
      </svg>
    </h4>
    <span class="hind-font caption-12 c-dashboardInfo__count"><%=  Shipping.present? ? Shipping.pluck("id").size : 0 %></span>
  </div>
</div>
<div class="c-dashboardInfo col-lg-3 col-md-3 col-xs-6">
  <div class="wrap">
    <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title"><%= t "admin.statistic_product.top_service_shipping"%>   <%= @result[:month] %>/<%= @result[:year] %> <svg
              class="MuiSvgIcon-root-19" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
      </svg></h4>
    <span class="hind-font caption-12 c-dashboardInfo__count"><%= @result[:top_service_shipping].keys.first  %>
      <% if @result[:top_service_shipping].present? %>
        (<%=@result[:top_service_shipping].values.first%>)
      <% end %>
    </span>
  </div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Detail product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="product-image-wrapper">
          <div class="single-products">
            <% if !@result[:statistic_products][:best_seller].nil? && @result[:statistic_products][:best_seller].image.attached? %>
              <div class="productinfo text-center">
                <input type="hidden" id="<%=  @result[:statistic_products][:best_seller].id %>" class="id" value="">
                <a href="/<%=I18n.locale %>/product-details/<%=  @result[:statistic_products][:best_seller].title.parameterize%>~<%= @result[:statistic_products][:best_seller].id%>">
                  <% if  @result[:statistic_products][:best_seller].image.attached?  %>
                    <%= image_tag main_app.url_for( @result[:statistic_products][:best_seller].image) , alt: "img",  class: "imageProduct" ,size: "200x200" %>
                  <% end %>
                </a>
                <h2 class="price">$<%=  @result[:statistic_products][:best_seller].price  %></h2>
                <p class="title"><%=  @result[:statistic_products][:best_seller].title  %></p>
                <div>
                  <i class="fa fa-star" style="color: #fe950f;"></i>
                  <i class="fa fa-star" style="color: #fe950f;"></i>
                  <i class="fa fa-star" style="color: #fe950f;"></i>
                  <i class="fa fa-star" style="color: #fe950f;"></i>
                  <i class="fa fa-star" style="color: #fe950f;"></i>
                </div>
                <% if  @result[:statistic_products][:best_seller].sold > 0 %>
                  <p class="title"> <%= t "admin.statistic_product.sold_product"%>: <%=  @result[:statistic_products][:best_seller].sold %></p>
                <% else %>
                  <p class="title"> &nbsp;</p>
                <% end %>
              </div>
            <% end %>
          </div>
          <% if  @result[:statistic_products][:best_seller].nil? == false  %>
            <div class="choose">
              <ul class="nav nav-pills nav-justified">
                <li><a href="/<%=I18n.locale %>/product-details/<%= @result[:statistic_products][:best_seller].title.parameterize%>~<%= @result[:statistic_products][:best_seller].id%>"><i class="fa fa-plus-square"></i><%= t "admin.statistic_product.detail_product"%> </a></li>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t "statistic_product.close"%> </button>
      </div>
    </div>
  </div>
</div>
<h3><%= t "admin.statistic_product.about_order_for_the_week"%>  </h3>
<%= column_chart  @result[:order_for_aweek] %>
<h3> <%= t "admin.statistic_product.about_order_status"%> </h3>
<%=  pie_chart OrderItem.select('order_items.status').unscoped.group("order_items.status").count%>
<p>  STATUS = { 'pending': 0, 'confirmed': 1, 'cancel': 2 } </p>
<h3> <%= t "admin.statistic_product.about_statistical_admin_user"%>  </h3>
<p>  ROLES = { 'admin': 1, 'user': 0} </p>
<%= pie_chart User.group(:admin).count %>
<h3> <%= t "admin.statistic_product.about_product_for_brand"%> </h3>
<%=  bar_chart Brand.select('brands.name').joins(:products).group("brands.name").count %>
<h3>  <%= t "admin.statistic_product.about_order_for_month"%>  </h3>
<%= column_chart @result[:order_for_month] %>
<style>
  .c-dashboardInfo {
    margin-bottom: 15px;
  }
  .c-dashboardInfo .wrap {
    background: #ffffff;
    box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding: 40px 25px 20px;
    height: 100%;
  }
  .c-dashboardInfo__title,
  .c-dashboardInfo__subInfo {
    color: #6c6c6c;
    font-size: 1.14em;
  }
  .c-dashboardInfo span {
    display: block;
  }
  .c-dashboardInfo__count {
    font-weight: 600;
    font-size: 1.5em;
    line-height: 64px;
    color: #323c43;
  }
  .c-dashboardInfo .wrap:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    content: "";
  }

  .c-dashboardInfo:nth-child(1) .wrap:after {
    background: linear-gradient(82.59deg, #00c48c 0%, #00a173 100%);
  }
   .c-dashboardInfo:nth-child(2) .wrap:after {
    background: linear-gradient(81.67deg, #0084f4 0%, #1a4da2 100%);
  }
  .c-dashboardInfo:nth-child(3) .wrap:after {
    background: linear-gradient(69.83deg, #0084f4 0%, #00c48c 100%);
  }
  .c-dashboardInfo:nth-child(4) .wrap:after {
    background: linear-gradient(81.67deg, #ff647c 0%, #1f5dc5 100%);
  }
  .c-dashboardInfo:nth-child(5) .wrap:after {
    background: linear-gradient(81.67deg, #ff841c 0%, #1f5dc2 100%);
  }
  .c-dashboardInfo:nth-child(6) .wrap:after {
    background: linear-gradient(81.67deg, #0084f4 0%, #00a173 100%);
  }
  .c-dashboardInfo:nth-child(7) .wrap:after {
    background: linear-gradient(81.67deg, #ff647c 0%, #00c48c 100%);
  }
  .c-dashboardInfo:nth-child(8) .wrap:after {
    background: linear-gradient(81.67deg, #1f5dc5 0%, #0084f4 100%);
  }
  .c-dashboardInfo:nth-child(9) .wrap:after {
    background: linear-gradient(81.67deg, #1f5dc2 0%, #ff647c 100%);
  }
  .c-dashboardInfo:nth-child(10) .wrap:after {
    background: linear-gradient(81.67deg, #1f5dc2 0%, #00a173 100%);
  }
  .c-dashboardInfo:nth-child(11) .wrap:after {
    background: linear-gradient(81.67deg, #ff647c 0%, #0084f4 100%);
  }
  .c-dashboardInfo:nth-child(12) .wrap:after {
    background: linear-gradient(81.67deg, #0084f4 0%, #ff841c 100%);
  }
  .c-dashboardInfo:nth-child(13) .wrap:after {
    background: linear-gradient(81.67deg, #00a173 0%, #00c48c 100%);
  }
  .c-dashboardInfo__title svg {
    color: #d7d7d7;
    margin-left: 5px;
  }
  .MuiSvgIcon-root-19 {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 24px;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    user-select: none;
    flex-shrink: 0;
  }
  .imageProduct{
    cursor: pointer;
  }
</style>
