

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product Name</th>
      <th scope="col">Image</th>
      <th scope="col">Size</th>
      <th scope="col">Quantity</th>
      <th scope="col">Status</th>
      <th scope="col">Price</th>
      <th scope="col">Total_order</th>
    </tr>
  </thead>
  <tbody>
    <% JSON.parse(@order.product_order).each_with_index do |order, index| %>
    <tr>
      <td><%= index + 1 %> </td>
      <td><%= order["name_product"] %></td>
      <td > <img src=" <%= order["image_product"] %> " alt="Girl in a jacket" width="50%"> </td>
      <td><%= order["size_product"] %> </td>
      <td><%= order["quantity"] %> </td>
       <td class="cart_description">
          <% case @order.status %>
          <% when 0 %>
            <p class="">Pending</p>
            <% when 1 %>
            <p class="">Confirm</p>
            <% when 2 %>
            <p class="">Cancel</p>
          <% end %>
      </td>
      
      <td><%= order["price_product"] %> </td>
      <td><%= order["price_product"].to_f * order["quantity"].to_i %> </td>
    </tr>
    
  <% end %>
  </tbody>
</table>
<button type="button" class="btn btn-primary launch" data-toggle="modal" data-target="#staticBackdrop"> <i class="fa fa-info"></i> Get information
</button>
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body ">
                <div class="text-right"> <i class="fa fa-close close" data-dismiss="modal"></i> </div>
                <div class="px-4 py-5">
                    <h5 class="text-uppercase"> <span>Order_ID: <%= @order.id%> </span> </h5>
                    <h4 class="mt-5 theme-color mb-5">Customer Name: <%= @order.user.username %></h4> 
                    <div class="mb-3">
                        <hr class="new1">
                    </div>
                    <div class="d-flex justify-content-between"> <span class="font-weight-bold">Total_Order: </span> <span>$<%= @Total_order =  JSON.parse(@order.product_order).map{|order| order["price_product"].to_f * order["quantity"].to_i}.sum  %></span> </div>
                    <div class="d-flex justify-content-between"> <span class="font-weight-bold">Shipping: </span> <small> + $30.00</small> </div>
                    <div class="d-flex justify-content-between"> <span class="font-weight-bold">Voucher: </span> <small> - $<%= @order&.voucher ? @order.voucher : 0 %></small> </div>
                    <span>------------------------------------ <span>
                    <% if @order&.voucher  %>
                        <div class="d-flex justify-content-between mt-3"> <span class="font-weight-bold">Payment: </span> <span class="font-weight-bold theme-color">$<%= @Total_order - @order.voucher  + 30.00 %></span> </div>
                      <% else %>
                        <div class="d-flex justify-content-between mt-3"> <span class="font-weight-bold">Payment: </span> <span class="font-weight-bold theme-color">$<%= @Total_order + 30.00 %></span> </div>
                    <% end %>
                    <div class="text-center mt-5"> <button class="btn btn-primary"  data-dismiss="modal" >OK</button> </div>
                </div>
            </div>
        </div>
    </div>
</div>