<footer id="footer">
  <!--Footer-->
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <div class="companyinfo">
            <h2>Mr.Katsu </h2>
            <p><%= t 'description_mrkatsu_footer' %></p>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="col-sm-3">
            <div class="video-gallery text-center">
              <a href="#">
                <div class="iframe-img">
                  <%= image_tag '/assets/home/iframe3.png' , alt:"img" %>
                </div>
                <div class="overlay-icon">
                  <i class="fa fa-play-circle-o"></i>
                </div>
              </a>
              <p>Circle of Hands</p>
              <h2>24 DEC 2022</h2>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="video-gallery text-center">
              <a href="#">
                <div class="iframe-img">
                  <%= image_tag '/assets/home/iframe2.png' , alt:"img" %>
                </div>
                <div class="overlay-icon">
                  <i class="fa fa-play-circle-o"></i>
                </div>
              </a>
              <p>Circle of Hands</p>
              <h2>24 DEC 2022</h2>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="video-gallery text-center">
              <a href="#">
                <div class="iframe-img">
                  <%= image_tag '/assets/home/iframe3.png' , alt:"img" %>
                </div>
                <div class="overlay-icon">
                  <i class="fa fa-play-circle-o"></i>
                </div>
              </a>
              <p>Circle of Hands</p>
              <h2>24 DEC 2022</h2>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="video-gallery text-center">
              <a href="#">
                <div class="iframe-img">
                  <%= image_tag '/assets/home/iframe4.png' , alt:"img" %>
                </div>
                <div class="overlay-icon">
                  <i class="fa fa-play-circle-o"></i>
                </div>
              </a>
              <p>Circle of Hands</p>
              <h2>24 DEC 2022</h2>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="address">
            <img src="/assets/home/map.png" alt="" />
            <p>505 S Atlantic Ave Virginia Beach, VA(Virginia)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-widget">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <div class="single-widget">
            <h2>
              <%= t 'service' %>
            </h2>
            <ul class="nav nav-pills nav-stacked">
              <li><a href="#">
                  <%= t 'Online_Help' %>
                </a></li>
              <li><a href="#">
                  <%= t 'Contact_Us' %>
                </a></li>
              <li><a href="#">
                  <%= t 'Order_Status' %>
                </a></li>
              <li><a href="#">
                  <%= t 'Change_Location' %>
                </a></li>
              <li><a href="#">FAQ’s</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="single-widget">
            <h2>
              <%= t 'quock_shop' %>
            </h2>
            <ul class="nav nav-pills nav-stacked">
              <li><a href="#">T-Shirt</a></li>
              <li><a href="#">
                  <%= t 'Mens' %>
                </a></li>
              <li><a href="#">
                  <%= t 'Womans' %>
                </a></li>
              <li><a href="#">
                  <%= t 'Gift_Cards' %>
                </a></li>
              <li><a href="#">
                  <%= t 'Shoes' %>
                </a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="single-widget">
            <h2>
              <%= t 'policies' %>
            </h2>
            <ul class="nav nav-pills nav-stacked">
              <li><a href="#">
                  <%= t 'Terms_of_Use' %>
                </a></li>
              <li><a href="#">
                  <%= t 'Privecy_Policy' %>
                </a></li>
              <li><a href="#">
                  <%= t 'Refund_Policy' %>
                </a></li>
              <li><a href="#">
                  <%= t 'Billing_System' %>
                </a></li>
              <li><a href="#">
                  <%= t 'Ticket_System' %>
                </a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="single-widget">
            <h2>
              <%= t 'about_mrkatsu' %>
            </h2>
            <ul class="nav nav-pills nav-stacked">
              <li><a href="#">
                  <%= t 'Company_Information' %>
                </a></li>
              <li><a href="#">
                  <%= t 'Careers' %>
                </a></li>
              <li><a href="#">
                  <%= t 'Store_Location' %>
                </a></li>
              <li><a href="#">
                  <%= t 'Affillate_Program' %>
                </a></li>
              <li><a href="#">
                  <%= t 'Copyright' %>
                </a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
          <div class="single-widget">
            <h2>
              <%= t 'about_mrkatsu' %>
            </h2>
            <form action="#" class="searchform">
              <input type="text" placeholder="Your email address" />
              <button type="submit" class="btn btn-default"><i
									class="fa fa-arrow-circle-o-right"></i></button>
              <p><%= t 'description_update_site' %></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <p class="pull-left">Copyright © 2021 MR.Katsu Inc. All rights reserved.</p>
        <p class="pull-right">
          <%= t 'Designed' %> <span><a target="_blank" href="#">Trần Hữu Thắng</a></span>
        </p>
      </div>
    </div>
  </div>
</footer>
<!--/Footer-->
