<header id="header">
  <!--header-->
  <div class="header_top">
    <!--header_top-->
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="contactinfo">
            <ul class="nav nav-pills">
              <li><a href="#"><i class="fa fa-phone"></i> +84 7296 4842</a></li>
              <li><a href="#"><i class="fa fa-envelope"></i> tranhuuthangcoi@gmail.com</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="social-icons pull-right">
            <ul class="nav navbar-nav">
              <li><a href="https://www.facebook.com/thangneymar44"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/header_top-->
  <div class="header-middle">
    <!--header-middle-->
    <div class="container">
      <div class="row">
        <div class="col-md-4 clearfix" style=" display: flex; justify-content: center;">
          <div class="logo pull-left">
            <a href="/"><img src="/assets/home/logo.png" width="150" alt="" /></a>
          </div>
        </div>
        <div class="col-md-8 clearfix" id="menu-list">
          <div class="shop-menu clearfix pull-right">
            <ul class="nav navbar-nav">
              <li><a href="/profile"><i class="fa fa-user"></i>
                  <%= t 'menu.account' %>
                </a></li>
              <li class="notifications" style="padding-right: 10px;" onclick="myFunction()">
                <a href="javascript:void(0);"> <i class="fa fa-bell" style="font-size:15px"></i>
                  <%= t 'menu.notification' %>
                  <div class="icon-badge"></div>
                </a>
                <ul id="list-notifications" style="display: none">
                  <% if current_user %>
                    <% @results[:notifications].each do |item| %>
                      <li class="item-notification">🔔 <a
													href="/<%=I18n.locale %>/notification/<%= item.title.parameterize%>~<%=item.id%>">
                          <%= item.title %>
                        </a></li>
                    <% end %>
                  <% end %>
                </ul>
              </li>
              <li><a href="<%= users_carts_path %>"><i class="fa fa-crosshairs"></i>
                  <%= t 'menu.checkout' %>
                </a></li>
              <li style="cursor: pointer;"><a onclick="location.href='<%= users_carts_path %>'">
                  <%= t 'menu.cart' %> <i class="fa fa-shopping-cart"></i> <span
											class='badge badge-warning' id='lblCartCount'> </span>
                </a></li>
              <% if user_signed_in? %>
                <% if current_user.admin? %>
                  <li><a href="/admin?locale=en"><i class="fa fa-lock"></i>
                      <%= current_user.username %>
                    </a></li>
                <% else %>
                  <li><a href="<%= edit_user_registration_path %>"><i class="fa fa-lock"></i>
                      <%= current_user.username %>
                    </a></li>
                <% end %>
                <li><a href="/<%=I18n.locale %>/logout"><i class="fa fa-lock"></i>
                    <%= t 'action.logout' %>
                  </a></li>
              <% else %>
                <li><a href="<%= new_user_session_path %>"><i class="fa fa-lock"></i>
                    <%= t 'action.login' %>
                  </a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/header-middle-->
  <div class="header-bottom">
    <!--header-bottom-->
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="mainmenu pull-left">
            <ul class="nav navbar-nav collapse navbar-collapse">
              <li><a href="<%= root_path %>" class="active">
                  <%= t 'menu.home' %>
                </a></li>
              <li class="dropdown"><a href="#">
                  <%= t 'menu.shop' %><i class="fa fa-angle-down"></i>
                </a>
                <ul role="menu" class="sub-menu">
                  <li><a href="/profile">
                      <%t 'menu.profile' %>
                    </a></li>
                  <li><a href="<%= users_carts_path %>">
                      <%= t 'menu.checkout' %>
                    </a></li>
                  <li><a href="<%= users_carts_path %>">
                      <%= t 'menu.cart' %>
                    </a></li>
                  <li><a href="<%= login_path %>">
                      <%= t 'action.login' %>
                    </a></li>
                  <li><a href="<%= contact_path %>">
                      <%= t 'menu.contact' %>
                    </a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#">
                  <%= t 'blog' %><i class="fa fa-angle-down"></i>
                </a>
                <ul role="menu" class="sub-menu">
                  <li><a href="<%= blog_path %>">
                      <%= t 'blog_list' %>
                    </a></li>
                </ul>
              </li>
              <li><a href="<%= contact_path %>">
                  <%= t 'menu.contact' %>
                </a></li>
              <% if user_signed_in? %>
                <li><a href="<%= users_orders_path %>">
                    <%= t "menu.my_orders" %>
                  </a></li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="col-sm-3" style="display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;">
          <span style="font-size: 15px">
            <%= t("languages")%>
          </span>
          <%= link_to "English 🇬🇧" , locale:"en" %>
          <%= link_to "Vietnamese 🇻🇳" , locale:"vi" %>
          <!-- <div class="custom-select" style="width:200px;">
						<select id="Choice_i18n">
						  <option value="0">Select city:</option>
						<option value="1">English</option>
						 <option value="2">Vietnamese</option>
						</select>
					</div> -->
          <div class="search_box pull-right">
            <input class="in-search" id="search-product" data-autocomplete-source="<%= Product.order("title").map(&:title)%>" type="text" style="color: #000; font-weight: 700;" placeholder="<%= t "product.search" %>"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/header-bottom-->
</header>
<!--/header-->
<style>
  #list-notifications {
  	height: auto;
  	width: 300px;
  	position: absolute;
  	-moz-box-shadow: 3px 3px 5px 6px #ccc;
  	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
  	box-shadow: 2px 2px 4px 2px #ccc;
  	padding-left: 1px;
  }

  #list-notifications>li {
  	width: 100%;
  	border: 1px solid #ebebeb
  }
</style>
<script>
  $(document).off().on("click", ".navbar-toggle",function(e) {
  	 $(this).attr("show-dropdown", true)
  });
  function myFunction() {
  	var x = document.getElementById("list-notifications");
  	if (x.style.display === "none") {
  		x.style.display = "block";
  	} else {
  		x.style.display = "none";
  	}
  }

    $( function() {
      $( "#search-product" ).autocomplete({
        maxResults: 5,
        minLength: 2,
        source:  function(request, response) {
        var results = $.ui.autocomplete.filter( $("#search-product").data("autocomplete-source"), request.term);
        response(results.slice(0, this.options.maxResults));
        } ,
      });
    });
</script>
