<!DOCTYPE html>
<html>
<head>
  <title>Home | E-Shopper</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'bootstrap.min' %>
  <%= javascript_include_tag 'jquery-filterable' %>
  <link rel="shortcut icon" href="/assets/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js" integrity="sha512-aUhL2xOCrpLEuGD5f6tgHbLYEXRpYZ8G5yD+WlFrXrPy2IrWBlu6bih5C9H6qGsgqnU6mgx6KtU8TreHpASprw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://twitter.github.io/typeahead.js/js/handlebars.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="//cdn.jsdelivr.net/npm/js-cookie@3.0.1"></script>

  <%=stylesheet_link_tag('price-range.css') %>
  <%=stylesheet_link_tag('font-awesome.min.css') %>
  <%=stylesheet_link_tag('animate.css') %>
  <%=javascript_include_tag('jquery.js') %>
  <%=javascript_include_tag('bootstrap.min.js') %>
  <%=javascript_include_tag('jquery.scrollUp.min.js') %>
  <%=javascript_include_tag('price-range.js') %>
  <%=javascript_include_tag('jquery.prettyPhoto.js') %>
  <%=javascript_include_tag('main.js') %>
</head>

<body>
  <!-- LOADER -->
  <div id="loader" style="display: flex;justify-content: center;align-items: center;">
    <div class="position-center-center">
      <div class="ldr"></div>
    </div>
  </div>
  <%= render 'layouts/header' %>
  <% if notice%>
    <div id="notice_wraper">
      <p class="notice"><%= notice %></p>
    </div>
  <% elsif alert %>
    <div id="notice_wraper">
      <p class="alert"><%= alert %></p>
    </div>
  <% end %>
    <%= yield %>
  <%= render 'layouts/footer' %>
</body>
</html>
<script>
  $("#loader").delay(5).fadeOut("slow");
  $(document).ready(function () {
    setTimeout(function () {
      $('#notice_wraper').fadeOut("slow", function () {
        $(this).remove();
      });
    }, 2000);
  });
</script>
<style>
  #loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    z-index: 100000000;
    opacity: 1;
    overflow: hidden;
    text-align: center;
    display: flex;

  }

  #loader {
    background-color: #fff;
  }

  .home-slider #loader {
    z-index: 9999;
    background: #fff;
  }

  div.ldr {
    width: 8vmax;
    height: 8vmax;
    border-right: 4px solid #2d3a4b;
    border-radius: 100%;
    -webkit-animation: spinRight 800ms linear infinite;
    animation: spinRight 800ms linear infinite;
  }

  div.ldr:before,
  div.ldr:after {
    content: '';
    width: 6vmax;
    height: 6vmax;
    display: block;
    position: absolute;
    top: calc(50% - 3vmax);
    left: calc(50% - 3vmax);
    border-left: 3px solid #2d3a4b;
    border-radius: 100%;
    -webkit-animation: spinLeft 800ms linear infinite;
    animation: spinLeft 800ms linear infinite;
  }

  div.ldr:after {
    width: 4vmax;
    height: 4vmax;
    top: calc(50% - 2vmax);
    left: calc(50% - 2vmax);
    border: 0;
    border-right: 2px solid #2d3a4b;
    -webkit-animation: none;
    animation: none;
  }

  @-webkit-keyframes spinLeft {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    to {
      -webkit-transform: rotate(720deg);
      transform: rotate(720deg);
    }
  }

  @keyframes spinLeft {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    to {
      -webkit-transform: rotate(720deg);
      transform: rotate(720deg);
    }
  }

  @-webkit-keyframes spinRight {
    from {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }

    to {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }

  @keyframes spinRight {
    from {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }

    to {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }

  .hom-slie {
    position: absolute !important;
  }
</style>