<% provide :title, 'Show user' %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%=  @user.gender == "false" ? "Female" : "Male" %>
</p>
  <p> <strong>content: </strong> </p>
<% @users.each do |user| %>
  <p> 
     <%= user.content%>
   </p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
