<%= javascript_include_tag "manager/productLove.js" %>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <!--category-->
                    <h2><%= t 'slide_bar.category' %></h2>
                    <%= render "home/category" %>
                    <!--brands_products-->
                    <div class="brands_products">
                      <h2><%= t 'slide_bar.brand' %></h2>
                        <%= render "home/brands" %>
                    </div>
                    <!--hot_product-->
                    <h2 style="margin-top: 40px"><%= t 'slide_bar.hot_product' %></h2>
                       <%= render 'home/product_hot' %>
                    <!--super_sale-->
                    <h2 style="margin-top: 40px"><%= t 'slide_bar.super_sale' %></h2>
                       <%= render 'home/sales' %>
                </div>
            </div>

            <div class="col-sm-9 padding-right check">
                <div class="product-details">
                    <!--product-details-->
                    <div class="col-sm-5">
                        <div class="view-product">
                            <img id="zoom_01" class="imageProduct"
                                src="<%= url_for(@results[:product].image) if @results[:product].image.attached? %>"
                                alt="" />
                                <a href="<%= url_for(@results[:product].image) if @results[:product].image.attached? %>"
                                rel="prettyPhoto" class="zoom-image">
                                <h3>ZOOM</h3>
                            </a>
                        </div>
                    <div id="similar-product" class="carousel slide" data-ride="carousel">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                        
                            <div class="item active">
                                <% @results[:product].photos.take(3).each do |item| %>
                                    <% item.images.each do |img| %>
                                        <a href="javascript:void(0)"><img src="<%= url_for(img) %>" alt="" class="image" style="width: 25%"></a>
                                    <% end %>
                                <% end %>
                            </div>
                        
                            <div class="item">
                               <% @results[:product].photos.each.with_index do |item, index| %>
                                    <% if index >= 3 && index <= 5 %>
                                        <% item.images.each do |img| %>
                                            <a href="javascript:void(0)"><img src="<%= url_for(img) %>" alt="" class="image"></a>
                                        <% end %>
                                    <% end %>
                                <% end %>
                            </div>
                        </div>

                            <!-- Controls -->
                            <% unless @results[:product].image.attached? %>
                                <a class="left item-control" href="#similar-product" data-slide="prev">
                                     <i class="fa fa-angle-left"></i>
                                 </a>
                                <a class="right item-control" href="#similar-product" data-slide="next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            <% end %>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="product-information ">
                            <!--/product-information-->
                            <input type="hidden" id="<%= @results[:product].id %>" class="id" value="">
                            <img src="/assets/product-details/new.jpg" class="newarrival" alt="" />
                            <h2 style="text-align: center" class="title"><%= @results[:product].title %></h2>
                            <div  class="list-rate">
                              <% if user_signed_in? %>
                                <% if ProductRate.where(user_id: current_user.id, product_id: @results[:product].id).present? %>
                                  <input id= "check_rate" value = "<%= @results[:avg] %>" type="hidden">
                                <% else %>
                                  <input id= "check_rate" value = "0" type="hidden">
                                <% end %>
                              <% end %> 
                            </div>
                             <div style="display: flex; justify-content: center; cursor: pointer;">
                                <% for i in 1..5 %>
                                  <span style="margin-right: 10px" class="fa fa-star <%= "checked" if @results[:avg] >= i %>" id="star-<%= i %>"></span>
                                <% end %>
                                    <span>(<%= @results[:avg] %>/5)</span>

                             </div>

                            <span class="product_love" style= "text-align: center"> 
                             <% if user_signed_in? %>
                                    <% if (current_user.product_favorites.where(product_id: @results[:product].id)).exists? %>
                                      <i class="fa fa-heart " product-id="<%= @results[:product].id %>" id="heart-red"></i>
                                      <% else %>
                                      <i class="fa fa-heart " product-id="<%= @results[:product].id %>" id="heart"></i>
                                    <% end %>
                                    
                                <% else %>
                                    <i class="fa fa-heart" id="hear-f" onclick="return confirm('<%= t'messages.loggin_message' %>')" ></i>
                             <% end %>
                            </span>   
                         
                            <span>
                                <span style="text-align: center; width: 100%"  class="price">USD $<%= @results[:product].price %>
                                  <% if @results[:product].price_old.present? %>
                                       <del class="price_old" >$<%= @results[:product].price_old %></del>
                                  <% end %>
                                 </span>

                                <label style="font-size:15px"><%= t 'product.quantity' %>:</label>
                                <input type="number" id="numberInput" class="quantity" value="1" min="1"  onchange=" this.value > <%= @results[:product].availability.number_instock if @results[:product].availability.present? %>  &&  myFunction(<%= @results[:product].availability.number_instock if @results[:product].availability.present? %>) " max=" <%=@results[:product].availability.number_instock if @results[:product].availability.present? %>" />
                               <% if @results[:product].availability&.status.to_i > 0 %>
                                   <a href="javascript:void(0)" id="add-to-cart-detail" name="add-to-cart-detail" class="btn btn-fefault cart add-to-cart-detail">
                                    <i class="fa fa-shopping-cart"></i> <%= t 'product.add_to_cart' %></a>
                                <% else %>
                                 <button type="submit" class="btn btn-danger">
                                      <i class="fa fa-shopping-cart"></i>
                                       <%= t 'product.out_of_stock' %>:
                                 </button>
                               <% end %>
                            </span>
                            <div>
                            <span style="font-size:15px"> <b> <%= t'product.choose_size' %> </b> </span>
                              <div class="sprd-select__items">
                              <% @results[:product].sizes.each_with_index do |item, index| %>
                                  <div class="button <%= index == 0 ? "active" : "" %>"><%= item.name %></div>  
                              <% end %>
                              </div>
                            </div>
                            <p><b><%= t 'product.availability' %>:</b> <%= @results[:product].availability.name if @results[:product].availability.present? %></p>
                            <p><b><%= t 'product.number_instock'%>:</b>  <%= @results[:product].availability.number_instock if @results[:product].availability.present? %></p>
                            <p><b><%= t 'product.status' %>:</b>  <%= @results[:product].availability.status == "1" ? "Instock" : "OutStock" if @results[:product].availability.present? %></p>
                            <p><b><%= t 'product.brand' %>:</b> <%= @results[:product].brand ? @results[:product].brand.name : "" %></p>
                            <p><b><%= t 'product.view' %>: </b> <%= @results[:product].product_views.count %> <i class="fa fa-eye"></i></p>
                            <p><b><%= t 'product.share' %>:</b> <a href="https://www.facebook.com/share.php?u=http://shopmrkatsu.tk/<%=I18n.locale%>/product-details/<%= @results[:product].title.parameterize %>~<%= @results[:product].id %>"><i class="fa fa-facebook-square fa-2x facebook" style="font-size: 1.5em;"></i></a></p>
                        </div>
                        <!--/product-information-->
                    </div>
                </div>
                <!--/product-details-->

                <div class="category-tab shop-details-tab">
                    <!--category-tab-->
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs">
                            <li class="active" ><a href="#details" data-toggle="tab"><%= t "product.detail" %></a></li>
                            <li><a href="#product_orther" data-toggle="tab"><%= t "product.other" %></a></li>
                            <li><a href="#reviews" data-toggle="tab"><%= t "product.review" %> (<%= @results[:comment_all].size > 0 ? @results[:comment_all].size : 0 %>)</a></li>   
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="details">
                            <div class="col-sm-12">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <p style="word-wrap: break-word;"> <%= @results[:product].content if @results[:product].content.present? %></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="product_orther">
                          <% @results[:products].each do |item| %>
                                <div class="col-sm-3">      
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <a href="/<%=I18n.locale %>/product-details/<%= item.title.parameterize %>~<%= item.id %>"> <img class="imageProduct" src="<%= url_for(item.image) if item.image.attached? %>" alt="" /></a>
                                            <h2>$<%= item.price %></h2>
                                            <p><%= item.title %></p>
                                             <a  href="/<%=I18n.locale %>/product-details/<%= item.title.parameterize %>~<%= item.id %>"  class="btn btn-default"><i
                                              class="fa fa-shopping-cart"></i> <%= t "product.see_more" %></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           <% end %>
                        </div>
                        <div class="tab-pane fade " id="reviews">
                          <div class="col-sm-12">
                            <ul>
                              <li><a href=""><i class="fa fa-user"></i><%= @results[:admin].username %></a></li>
                              <li><a href=""><i class="fa fa-clock-o"></i><%= @results[:product].created_at.strftime("%I:%M %p") %></a></li>
                              <li><a href=""><i class="fa fa-calendar-o"></i><%= @results[:product].created_at.strftime("%d/%m/%Y") %></a></li>
                            </ul>


              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                <%= t 'comments.write' %>
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel"> <%= t 'comments.write' %></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <span class="comments" id= "<%= @results[:product].id %>">
                              <form id="form_comment">
                                  <span class="comments" id= "<%= @results[:product].id %>">
                                    <div class="mb-3">
                                          <input type="text"  class="form-control in-comment" style="
                                                                          width: 100%;
                                                                          background: none;
                                                                          color: black;
                                                                          outline: medium none;
                                                                          border: 1px solid;" 
                                                placeholder= "<%= t "inputComment.Pleaseenteryourcomment"%>" />
                                            <label for="csv" class="form-label"><%= t "comments.upload_image"%> </label>
                                            <input id="csv" name="csv" type="file"  style="
                                                                          width: 100%;
                                                                          background: none;
                                                                          outline: medium none;
                                                                          margin-left: 0px;
                                                                        ;" /></td>
                                            </div>
                                            <div>
                                            <div class="buttonload" style="display:none"><i class="fa fa-spinner fa-spin"></i> is sending,please wait... </div>
                                            </div>
                                                                      <input type="submit" id="btn_send_comment"  style="
                                                                        color: white;
                                                                        background: #FE980F;
                                                                        border-radius: 10px;
                                                                        margin-left: 0;"
                                                                       value="<%= t "inputComment.sendreview" %>"
                                                                        
                                                                        /> 
                                                                        <!-- value="Send review" -->
                                            </form>
                                          </span>
                          <div class="loader">
                            <% if user_signed_in? %>
                                        <span class = "login" id = "<%= 1 %>"></span>
                              <% else %>
                                        <span class = "login" id = "<%= 2 %>"></span>
                              <% end %>

                          </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" id="close" data-dismiss="modal"><%= t "comments.close" %></button>
                    </div>
                  </div>
                </div>
              </div>
              </div>

                    <div class="response-area">
                            <h5 class="view_more">​</h5>
                              <ul class="media-list list-comment" >
                                <% @results[:comments].each do |comment| %>
                                  <li class="media delete_comment" id="<%= comment.id %>"  style="width:100%">
                                  <a class="pull-left" href="#" style="display:flex; justify-content: center">
                                    <% if comment.user.avatar.attached? %>
                                      <img class="media-object-avatar" src="<%= url_for(comment.user.avatar) %>" width="50" height="50" style="border-radius: 25%"alt="">

                                    <% else %>
                                      <img class="media-object" src="/assets/home/iframe2.png" alt="">

                                    <% end %>
                                    </a>
                                    <div class="media-body comments">
                                      <ul class="sinlge-post-meta">
                                        <li><i class="fa fa-user"></i><%= comment.user.username %></li>
                                        <li><i class="fa fa-clock-o"></i><%= comment.created_at.strftime("%I:%M %p") %></li>    
                                        <li><i class="fa fa-calendar"></i><%= comment.created_at.strftime("%d/%m/%Y") %></li>
                                        <% if user_signed_in? && comment.user_id == current_user.id %>
                                          <li><a class="delete-comment"><i style="color:white; cursor: pointer" class="fa fa-trash-o"></i> </a></li>
                                          <li><a class="edit-comment" id="comment-<%= comment.id %>" > <i style="color:white; cursor: pointer" class="fa fa-edit"></i></a></li>
                                          <!-- <input type="text"  class="form-control in-comment-edit" value="<%= comment.content %>" style="display:none" /> -->
                                          <textarea type="text"  placeholder="Please write a content"  class="form-control in-comment-edit" value="<%= comment.content %>" style="
                                            min-height:50px;
                                            max-height: 200px;
                                            height:50px;
                                            display:none;
                                            color:black"  
                                        oninput="auto_grow(this)"><%= comment.content %></textarea>
                                        <% end %>
                                      </ul>
                                    <p class="list-edit-comment" style="line-break: anywhere;" ><%= comment.content %></p>
                                    <a href="<%= comment.image.present? ? url_for(comment.image) : '' %>" data-lightbox="example-2" > <img class="media-object" data-lightbox="image-1" data-title="My caption" src="<%= comment.image.present? ? url_for(comment.image) : '' %>" alt="" width="50%" height="auto" ></a>
                                     </br>
                                    <p class="reply_comment"> <%= t 'comments.reply' %> <p>
                              
                                    <div class="list_comment_chidren" >                                
                                        <% comment.comment_childrens.sort_by(&:created_at).each do |item| %>
                                          <div class="comment_children_item comment_children" >
                                            <img src="<%= item.user.avatar.attached? ? url_for(item.user.avatar) : "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS50TvM3otu4AuOjP-R2TZ8ajlCcctHY7hxJQ&usqp=CAU" %>" id="image_children_comment" width="50" height="50" alt="" />
                                            <span> <i class="fa fa-user" id="icon_name"></i> <span><%= item.user.username%></span> <span>
                                            <span> <i class="fa fa-clock-o" style="color: #fe980f;cursor: pointer;font-size: 16px;margin-left: 10px;margin-right: 5px;"></i> <span><%= item.created_at.strftime("%I:%M %p")%></span> <span>
                                            <span><i class="fa fa-calendar" style="color: #fe980f;cursor: pointer;font-size: 16px;margin-left: 10px;margin-right: 10px;"></i><%= item.created_at.strftime("%d/%m/%Y") %></span>
                            
                                            <% if user_signed_in? && item.user_id == current_user.id %>
                                              <span>  <i style="color: #fe980f;cursor: pointer;font-size: 16px;margin-left: 10px;margin-right: 10px;" class="fa fa-trash-o delete_comment_children"  id="<%= item.id %>"></i><span>
                                              <span class="edit">  <i style="color: #fe980f;cursor: pointer;font-size: 16px;" class="fa fa-edit"></i><span>
                                            <% end %>
                                            <p class="list-edit-comment-children" id="content_comment"  style="line-break:anywhere"> <%= item.content%> </p>
                                            <!-- <input type="text" id="<%= item.id %>"  class="form-control comment-children-edit" value="<%= item.content %>" style="display:none" /> -->
                                            <textarea type="text"  id="<%= item.id %>" placeholder="Please write a content"  class="form-control comment-children-edit" value="<%= item.content %>" style="
                                       
                                              min-height:50px;
                                              max-height: 200px;
                                              height:50px;
                                              display:none;
                                              color:black
                                          "  
                                          
                                          oninput="auto_grow(this)"><%= item.content %></textarea>
                                          </div>
                                        <% end %>
                                    </div>
                                    
                                      <div class="full-tbl" style="display:block">
                                         <textarea  id="fieldReplyComment" placeholder="<%= t "inputComment.write_a_comment" %>" style="padding-top: 15px"  ></textarea>
                                         <span class="inp-grp-sub"><button type="submit" id="send_reply_comment"><%= t 'comments.send' %></button></span>
                                      </div>
                                    </div>
                                  </li>
                                <% end %>
                              </ul>
                              <% if @results[:show_btn_loadcomment] %>
                                <div style="text-align: center">
                                  <button class="load_more_comment spinner-border btn btn-warning" style="margin: 0 auto; background-color: #fe980f; margin-bottom: 15px;" data-style="expand-left"  > <%= t 'loadComment.text' %></button>
                                    <div id="load" style="display:none">
                                      <img src="//s.svgbox.net/loaders.svg?fill=maroon&ic=tail-spin" 
                                          style="width:24px">
                                    </div>
                                </div>
                              <% end %>
                              <div style="text-align: center">
                                  <%# <%= paginate @results[:comments], theme: "twitter-bootstrap-4", style: "text-align:center" %> 
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
              </div>
               <%= render "home/recommended_items" %>

        </div>
    </div>
</section>
<script type="text/javascript">
function auto_grow(element) {
    element.style.height = "1px";
    element.style.height = (element.scrollHeight)+"px";
}
    $('.button').on('click', function() {
        $(this).addClass('active').siblings().removeClass('active');
    });
function myFunction(val) {
  var x = document.getElementById("numberInput");
  x.value = val;
}
$('#zoom_01').ezPlus();
$(".image")
.off()
.on("click", function () {
    imageSmallUrl = $(this).attr("src") 
    $(".view-product").find(".imageProduct").attr("src", imageSmallUrl )
    $(".zoom-image").attr("href", imageSmallUrl)
    $('#zoom_01').ezPlus();
});
</script>
<script id="product-love-template" type="text/x-handlebars-template">
{{#if productLove}}
  <i class="fa fa-heart " product-id="{{productLove.product_id}}" id="heart-red"></i>
{{/if}}
</script>
<script id="list-comment-template" type="text/x-handlebars-template">
    <li class="media delete_comment" id="{{ comment.id }}" style="width:100%">
      <a class="pull-left" href="#" style="display:flex; justify-content: center">
      <img class="media-object-avatar" src="{{ avatar }}" alt="" width="50" height="50" style="border-radius: 25%">
      </a>
      <div class="media-body comments">
        <ul class="sinlge-post-meta">
        <li><i class="fa fa-user"></i>{{ name }}</li>
        <li><i class="fa fa-clock-o"></i>{{ comment.created_at_clock }}</li>
        <li><i class="fa fa-calendar"></i>{{ comment.created_at }}</li>
        <li><a class="delete-comment"><i style="color:white; cursor: pointer; font-size: 14px" class="fa fa-trash-o"></i></a></li>
        <li><a class="edit-comment" id= "comment-{{comment.id}}" ><i style="color:white; cursor: pointer; font-size: 14px" class="fa fa-edit"></i></a> </li>
        <!-- <input type="text"  class="form-control in-comment-edit" value="{{ comment.content }}" style="display:none"/> -->
        <textarea  placeholder="Please write a content"  class="form-control in-comment-edit" value="{{ comment.content }}" style="overflow: hidden;
          min-height:50px;
          max-height: 200px;
          height:50px;
          display:none;
          color:black
      "  
      oninput="auto_grow(this)">{{ comment.content }}</textarea>
        </ul>    
      <p class="list-edit-comment" style="line-break: anywhere;">{{ comment.content }}</p>
      <a href="{{ image }}" data-lightbox="example-2" > <img class="media-object" data-lightbox="image-1" data-title="My caption" src="{{ image }}" alt="" width="50%" height="auto" ></a>
      </br>
     <p class="reply_comment"> <%= t 'comments.reply' %> <p>
      <div class="list_comment_chidren" >                                
        <div class="comment_children_item comment_children" >
          <!-- <img src=""  width="50px" alt="" /> -->

          <p class="list-edit-comment-children">  </p>
        </div>
      </div>
    <div class="full-tbl" style="display:block">
        <textarea  id="fieldReplyComment" placeholder="<%= t "inputComment.write_a_comment" %>"  style="padding-top: 15px" ></textarea>
        <span class="inp-grp-sub"><button type="submit" id="send_reply_comment"><%= t "inputComment.sendreview" %></button></span>
    </div>
      </div>
    </li>
</script>
<script id="list-rate-template" type="text/x-handlebars-template">
    <input id= "check_rate" value="{{ avg }}" type="hidden">
    <p>({{ avg }}/5)</p>
</script>
<script id="list-edit-comment-template" type="text/x-handlebars-template">
   {{comment.content}}
</script>

<script type="text/javascript">
    function spinner() {
        document.getElementsByClassName("loader")[0].style.display = "block";
    }
</script>   

<script id="list-comment-children-template" type="text/x-handlebars-template">
  <div class="comment_children_item comment_children">
      <img src="{{ avatar }}"  width="50" height="50" alt="" id="image_children_comment" />
      <span> <i class="fa fa-user" id="icon_name"></i> <span>{{name}}</span> <span>
      <span> <i class="fa fa-clock-o" style="color: #fe980f;cursor: pointer;font-size: 16px;margin-left: 10px;margin-right: 5px;"></i> <span>{{ comment_children.created_at_clock }}</span> <span>
      <span><i class="fa fa-calendar" style="color: #fe980f;cursor: pointer;font-size: 16px;margin-left: 10px;margin-right: 10px;"></i>{{ comment_children.created_at }}</span>
      <span>  <i style="color: #fe980f;cursor: pointer;font-size: 16px;margin-left: 10px;margin-right: 10px;" class="fa fa-trash-o delete_comment_children"  id="{{ comment_children.id }}"></i><span>
      <span class="edit">  <i style="color: #fe980f;cursor: pointer;font-size: 16px;" class="fa fa-edit"></i><span>
      <p class="list-edit-comment-children" id="content_comment"  style="line-break:anywhere">{{ comment_children.content }} </p>
      <textarea type="text"  id="{{comment_children.id}}" placeholder="Please write a content"  class="form-control comment-children-edit" value="{{ comment_children.content }}" style="overflow: hidden;
        min-height:50px;
        max-height: 200px;
        height:50px;
        display:none;
        color:black
    "  
    
    oninput="auto_grow(this)">{{ comment_children.content }}</textarea>
    </div>

  </div>
</script>
<script>
  $(document).off().on("click", ".navbar-toggle",function(e) {
  	 $(this).attr("show-dropdown", true)
  });
  function myFunction() {
  	var x = document.getElementById("list-notifications");
  	if (x.style.display === "none") {
  		x.style.display = "block";
  	} else {
  		x.style.display = "none";
  	}
  }
</script>
<script id="load-more-comment-template" type="text/x-handlebars-template">
  {{#if comments.length }}
    {{#each comments}}
        <li class="media delete_comment" id="{{ comment_parent.id }}" style="width:100%">
              <a class="pull-left" href="#" style="display:flex; justify-content: center">
              <img class="media-object-avatar" src="{{ comment_parent.avatar }}" alt="" width="50" height="50" style="border-radius: 25%">
              </a>
              <div class="media-body comments">
                <ul class="sinlge-post-meta">
                <li><i class="fa fa-user"></i>{{ comment_parent.name }}</li>
                <li><i class="fa fa-clock-o"></i>{{ comment_parent.created_at_clock }}</li>
                <li><i class="fa fa-calendar"></i>{{ comment_parent.created_at }}</li>
                {{#when comment_parent.user_id 'eq' <%= user_signed_in? && current_user.id %>}}
                  <li><a class="delete-comment"><i style="color:white; cursor: pointer; font-size: 14px" class="fa fa-trash-o"></i></a></li>
                  <li><a class="edit-comment" id= "comment-{{comment_parent.id}}" ><i style="color:white; cursor: pointer; font-size: 14px" class="fa fa-edit"></i></a> </li>    
                {{/when}}
                <textarea  placeholder="Please write a content"  class="form-control in-comment-edit" value="{{ comment_parent.content }}" style="overflow: hidden;
                  min-height:50px;
                  max-height: 200px;
                  height:50px;
                  display:none;
                  color:black
              "  
              oninput="auto_grow(this)">{{ comment_parent.content }}</textarea>
                </ul>    
              <p class="list-edit-comment" style="line-break: anywhere;">{{ comment_parent.content }}</p>
              <a href="{{ comment_parent.image }}" data-lightbox="example-2" > <img class="media-object" data-lightbox="image-1" data-title="My caption" src="{{ comment_parent.image }}" alt="" width="50%" height="auto" ></a>
              </br>
            <p class="reply_comment"> <%= t 'comments.reply' %> <p>
              <div class="list_comment_chidren" >                                
                {{#each comment_childrens}}
                        <div class="comment_children_item comment_children" >
                              <img src="{{avatar}}" id="image_children_comment" width="50" height="50" alt="" />
                              <span> <i class="fa fa-user" id="icon_name"></i> <span>{{name}}</span> <span>
                              <span> <i class="fa fa-clock-o" style="color: #fe980f;cursor: pointer;font-size: 16px;margin-left: 10px;margin-right: 5px;"></i> <span>{{created_at_clock}}</span> <span>
                              <span><i class="fa fa-calendar" style="color: #fe980f;cursor: pointer;font-size: 16px;margin-left: 10px;margin-right: 10px;"></i>{{created_at}}</span>
                              {{#when user_id 'eq' <%= user_signed_in? && current_user.id %>}}
                                  <span>  <i style="color: #fe980f;cursor: pointer;font-size: 16px;margin-left: 10px;margin-right: 10px;" class="fa fa-trash-o delete_comment_children"  id="{{id}}"></i><span>
                                  <span class="edit">  <i style="color: #fe980f;cursor: pointer;font-size: 16px;" class="fa fa-edit"></i><span>
                              {{/when}}
                              <p class="list-edit-comment-children" id="content_comment"  style="line-break:anywhere"> {{content}} </p>
                              <textarea type="text"  id="{{id}}" placeholder="Please write a content"  class="form-control comment-children-edit" value="{{content}}" style="                              
                                min-height:50px;
                                max-height: 200px;
                                height:50px;
                                display:none;
                                color:black
                            "  
                            oninput="auto_grow(this)">{{content}}</textarea>
                        </div>
                {{/each}}
                </div>
              <div class="full-tbl" style="display:block">
                  <textarea  id="fieldReplyComment" placeholder="<%= t "inputComment.write_a_comment" %>"  style="padding-top: 15px" ></textarea>
                  <span class="inp-grp-sub"><button type="submit" id="send_reply_comment"><%= t "inputComment.sendreview" %></button></span>
              </div>
              </div>
          </li>
    {{/each}}
  {{/if}}
</script>