<div class="features_items">
    <!--features_items-->
    <h2 class="title text-center">Features Items</h2>
    <% @results[:features_items].each do |item| %>
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <input type="hidden" id="<%= item.id %>" class="id" value="">
                     <a href="/product-details/<%= item.title.parameterize%>~<%=item.id%>"> <img class="imageProduct" src="<%= url_for(item.image) if item.image.attached? %>" alt="" /></a>
                    <h2 class="price">$<%= item.price  %></h2>
                    <p class="title"><%= item.title  %></p>
                    <a href="javascript:void(0)" class="btn btn-default add-to-cart"><i
                            class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>
              
            </div>
            <div class="choose">
                <ul class="nav nav-pills nav-justified">
                    <li><a href="javascript:void(0)"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                    <li><a href="/products/<%= item.id %>"><i class="fa fa-plus-square"></i>See more...</a></li>
                </ul>
            </div>
        </div>
    </div>
    <% end %>
</div>
<!--features_items-->