<div class="recommended_items">
    <!--recommended_items-->
    <h2 class="title text-center">Recommended items</h2>

    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <% @results[:recommend_items].each do |item| %>
                <div class="col-sm-4 col-xs-6">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <input type="hidden" id="<%= item.id %>" class="id" value="">
                                 <a href="/product-details/<%= item.title.parameterize%>~<%=item.id%>"> 
                                  <% if item.image.attached?  %>
                                       <%= image_tag url_for(item.image) , alt: "img",  class: "imageProduct" %>
                                  <% end %>
                                 </a>
                                <p class="title"><%= item.title  %></p>
                                <h2 class="price">$<%= item.price %></h2>
                                <a href="javascript:void(0)" class="btn btn-default add-to-cart"><i
                                        class="fa fa-shopping-cart"></i>Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
            <div class="item">
                <% @results[:recommend_items].each do |item| %>
                <div class="col-sm-4 col-xs-6">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <input type="hidden" id="<%= item.id %>" class="id" value="">
                           <a href="/product-details/<%= item.title.parameterize%>~<%=item.id%>"> <img class="imageProduct" src="<%= url_for(item.image) if item.image.attached? %>" alt="" /></a>
                                <p class="title"><%= item.title  %></p>
                                <h2 class="price">$<%= item.price %></h2>
                                  <div>
                                    <i class="fa fa-star" style="color: #fe950f;"></i>
                                    <i class="fa fa-star" style="color: #fe950f;"></i>
                                    <i class="fa fa-star" style="color: #fe950f;"></i>
                                    <i class="fa fa-star" style="color: #fe950f;"></i>
                                    <i class="fa fa-star" style="color: #fe950f;"></i>
                                 </div>
                                <% if item.availability&.product_sold.to_i > 0 %>
                                    <p class="title">Sold: <%= item.availability&.product_sold %> products</p>
                                <% end %>
                                <% if  item.availability&.status.to_i > 0%>
                                    <a href="javascript:void(0)" class="btn btn-default add-to-cart">
                                    <i class="fa fa-shopping-cart"></i>Add to cart</a>
                                <% else %>
                                    <a href="javascript:void(0)" class="btn btn-danger out-of-stock">
                                    Out of stock</a>
                                <% end %>
                   
                            </div>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>
<!--/recommended_items-->