<%= render 'home/slider' %>
<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
                        <!--category-->
						<h2>Category</h2>
                          <%= render 'home/category' %>
                        <!--/category-->

                        <!--brands_products-->
						<div class="brands_products">
							<h2>Brands</h2>
							<%= render 'home/brands' %>
						</div>
						<h2 style="margin-top: 40px">Hot Products</h2>
						  <%= render 'home/product_hot' %>
						<h2 style="margin-top: 40px">Super Sales</h2>
				  	  <%= render 'home/sales' %>
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<%= render 'home/features_items' %>
                    <%= render 'home/category_tab' %>
					<%= render 'home/recommended_items' %>
				</div>
			</div>
		</div>
</section>