<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="col-md-3 border-right">
          <% if resource.avatar.attached?%>
            <%= image_tag resource.avatar, class: "rounded-circle" %>
          <% else %>
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"></div>
          <% end %>  
          <%= f.file_field :avatar %>
          </div>
      <div class="col-md-5 border-right">
          <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4 class="text-center"><%= t "profiles.information_personal" %></h4>
              </div>
              <div class="row mt-3">
                  <%= render "devise/shared/error_messages", resource: resource %>  
                  <div class="col-md-12">
                      <%= f.label t("profiles.name") %>
                      <%= f.text_field :username, class: 'form-control', placeholder: t("profiles.place_holder_name") %>
                    </div>
                    <div class="col-md-12">
                      <%= f.label t("profiles.email") %>
                      <%= f.text_field :email, autofocus: true, autocomplete: "email", class: 'form-control',placeholder: t("profiles.place_holder_email") %>
                    </div>

                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                    <% end %>

                    <div class="col-md-12">
                      <%= f.label  t("profiles.mobile") %>
                      <%= f.text_field :mobile, class: 'form-control',placeholder: t("profiles.place_holder_mobile")  %>
                    </div>

                    <div class="col-md-12">
                      <%= f.label t("profiles.address")  %>
                      <%= f.text_field :address, class: 'form-control', placeholder: t("profiles.place_holder_address") %>
                    </div>

                    <div class="col-md-12">
                      <label class="control-label"  for="gender"><%= t("profiles.gender")%></label>
                      </br>
                      <% if current_user.gender == "male" %>
                        <input type="radio" id="male" name="user[gender]" value="male" checked >
                        <label for="male"><%= t("profiles.male")%></label><br>
                        <input type="radio" id="female" name="user[gender]" value="female">
                        <label for="female"><%= t("profiles.female")%></label><br> 
                      <% else %>
                        <input type="radio" id="male" name="user[gender]" value="male">
                        <label for="male"><%= t("profiles.male")%></label><br>
                        <input type="radio" id="female" name="user[gender]" value="female" checked >
                        <label for="female"><%= t("profiles.female")%></label><br>
                      <% end %>                  
                    </div>
                    <span style="font-size: 14px"><%= t("profiles.select_city")%></span>
                    <div class="custom-select" style="width:200px;">
                      <select  name="user[city_id]">
                      <% unless current_user.city.blank?  %>
                        <option value="<%=  current_user.city.id %>" > <%=  current_user.city.name %>  </option>
                        <% else %>
                      <% end %>
                        <% @results[:cities].each do |item| %>
                            <option value="<%= item.id.to_i %>"> <%= item.name %></option>
                        <% end %>
                      </select>
                    </div>
                    <%= f.submit t("profiles.update"), class: "btn btn-primary" %>
              </div>
          </div>
      </div>
    <% end %>
  </div>
</div>