<section id="cart_items" class="col-sm-offset-1 col-sm-10" style="display: flex; justify-content: center">
  <div class="container">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li><a href="<%= root_path %>"><%= t("menu.home") %></a></li>
        <li class="active"><%= t("menu.cart") %></li>
      </ol>
    </div>
    <div class="table-responsive cart_info">
      <table class="table table-condensed">
        <thead>
          <tr class="cart_menu">
            <td class="image"><%= t("product.image") %></td>
            <td class="description"><%= t("product.description") %></td>
            <td class="size"><%= t("product.size") %></td>
            <td class="price"><%= t("product.price") %></td>
            <td class="quantity"><%= t("product.quantity") %></td>
            <td class="total"><%= t("product.total_price") %></td>
            <td></td>
          </tr>
        </thead>
        <tbody class="tbody"> 
        </tbody>
      </table>
      <button class="btn btn-default clear-cart" id="clear_cart" onclick="deleteItems()" style="margin: 0 auto;"> <%= t "clear_cart" %></button>
    </div>
  </div>
</section>
<!--/#cart_items-->
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <%= render 'home/history_view_product' %>
      </div>
    </div>
  </div>
</section>
<section id="do_action">
  <div class="container">
    <div class="heading">
      <h3><%= t("product.note") %></h3>
      <p><%= t("product.message_note") %></p>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="chose_area">
          <ul class="user_option">
            <li>
              <label><%= t("product.git_voucher") %></label>
            </li>
          </ul>
          <ul class="user_info">
            <li class="single_field zip-field">
              <label>Zip Code:</label>
              <input style="border: 1px solid#797977;" type="text" class="voucher_code" >
            </li>
          </ul>
          <a class="btn btn-default voucher" href="javascript:void(0)"><%= t("product.get_voucher") %></a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="total_area" >
          <span style="font-size:15px"><%= t("product.service_shipping") %> </span>
          <select class="form-select" aria-label="Default select example">
            <% if @results[:shippings].size %>
              <% @results[:shippings].each_with_index do |item,index| %>
                <option <%= index == 0 ? "selected" : ""%> value="<%= item.id %>"><%= item.name %> - $<%= item.price %> - <%= item.description %></option>
              <% end %>
            <% end %>
          </select>
          <ul>
            <li><%= t("product.cart_sub_total") %><span class="Cart_Sub_Total">$0</span></li>
            <li class="shipping-cost"><%= t("product.shipping_cost") %> <span class="price_shipping">$0</span></li>
            <li><%= t("product.total_payment") %>  <span class="totalOrder">$0</span></li>
          </ul>
          <% if user_signed_in? %>
            <% if current_user.address.blank? || current_user.city.blank? %>
              <a class="btn btn-warning" style="margin-left: 40px" href="<%= edit_user_registration_path %>"><%=t("messages.address_not_exitst") %></a>
            <% else %>
              <div class="bg-light py-6 service-5">
                <div class="container">
                  <!-- Row  -->
                  <div class="row">
                    <div class="col-md-6 wrap-service5-box" style="width: 100%; overflow: hidden"  >
                      <div class="card card-shadow border-0 mb-4">
                        <div class="card-body d-flex">
                          <div class="mr-4 mb-2 text-success-gradiant" style="font-size: 20px"><%= t("product.billing_information") %></div>
                          <div class="">
                            <h6 class="font-weight-medium"><a href="/profile" class="linking"><%= t("profiles.address") %>: <%= current_user.address %> </br><%= t("profiles.mobile") %>: <%= current_user.mobile %></a></h6>
                          <p class="mt-3"><%= t("city") %>:  
                            <h5 class="city" style="color: red;   font-size: 16px; "><%=current_user.city.name %></h5>
                            .</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <a class="btn btn-default check_out" href="javascript:void(0)"  id="btnFetch" style="display: none"><%= t("product.checkout") %></a>
              <a class="btn btn-default checkout_with_momo" href="javascript:void(0)" style="margin-top: 19px; margin-left: 20px; background: #FE980F; color: white">Payment with MOMO (testing)</a>
            </div>
          <% end %>
        <% else %>
          <a href="javascript:void(0)" style="color: #333; <%= user_signed_in? ? "background-color: #fe980f;" : "background-color:#e8e5e5;" %>  border-color: #ccc; text-align: center; margin-left: 40px;" class="btn btn-default <%= user_signed_in? ? "check_out" : ""  %>"
                            onClick="Swal.fire({
                                icon: 'warning',
                                title: '<%= t'messages.you_must_login_to_the_checkout' %>',
                            }).then(()=>{
            window.location = '/login?locale=<%= I18n.locale %>'
            });"
            ><%= t("product.checkout") %></a>
        <% end %>
      </div>
    </div>
  </div>
</div>
</section>
<!--/#do_action-->
<script id="list-cart-template" type="text/x-handlebars-template">
  {{#if carts.length }}
  {{#each carts}}
      <tr class="list-cart" id={{id}}>
          <td class="cart_product" style="width: 70px;">
              <a href="/<%=I18n.locale %>/product-details/{{ name_product}}~{{id}}"><img style="width:100px; height:100px" src="{{image_product}}"></a>
          </td>
          <td class="cart_name">
              <h4><a href="">{{name_product}}</a></h4>
          </td>
          <td class="size_product">
              <h4><a href="">{{size_product}}</a></h4>
          </td>
          <td class="cart_price">
              <p>${{price_product}}</p>
          </td>
          <td class="cart_quantity" >
              <div class="cart_quantity_button">
                  <button class="cart_quantity_up" > + </button>
                  <input class="cart_quantity_input" type="number" name="quantity" value="{{quantity}}" size="2"  min="1" max="20" >
                  <button class="cart_quantity_down" > - </button>
              </div>
          </td>
          <td class="cart_total">
              <p class="cart_total_price">${{ total_price}}</p>
          </td>
          <td class="cart_delete">
              <button class="cart_quantity_delete"><i class="fa fa-times"></i></button>
          </td>
      </tr>
  {{/each}}
  {{else}}
  <style >
  thead,.voucher, .checkout_with_momo, #clear_cart{
      display:none
  }

  </style>

  <h2 style=" text-align: center; padding-top: 15px;"> <%= t ("messages.shopping_cart_empty") %></h2>
  {{/if}}
</script>
<style>
  .spinner-button {
      border: 2px solid #000;
      display: inline-block;
      padding: 8px 20px 9px;
      font-size: 12px;
      color: #FE980F;
      background-color: transparent
  }

  .btn-primary:disabled {
      color: #fff;
      background-color: #000;
      border-color: #000
  }

  .spinner-button:hover {
      background-color: #000;
      border: 2px solid #000;
      color: #FE980F
  }

  .spinner-button i {
      color: #FE980F
  }

  .spinner-button:hover i {
      color: #FE980F
  }

  .fa:hover {
      color: #FE980F
  }
  .service-5 {
   font-family: "Montserrat", sans-serif;
  	color: #8d97ad;
   font-weight: 300;
  }

  .service-5 h1, .service-5 h2, .service-5 h3, .service-5 h4, .service-5 h5, .service-5 h6 {
   color: #3e4555;
  }

  .service-5 a{
  	text-decoration: none;
  }

  .service-5 .linking{
  	color: #3e4555;
     font-size: 16px;
  }
  
  .service-5 .linking:hover{
  	color: #316ce8;
  }

  .service-5 .font-weight-medium {
  	font-weight: 500;
  }

  .service-5 .bg-light {
     background-color: #f4f8fa !important;
  }

  .service-5 .subtitle {
     color: #8d97ad;
     line-height: 24px;
  }
  .clear-cart{
    display: flex;
    justify-content: center;
    background: #fe980f;
    border-radius: 0;
    color: #ffffff;
    margin-top: 18px;
    border: none;
    padding: 5px 15px;
    margin-left: 20px;
  }

  .service-5 .card.card-shadow {
     -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
     box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  }

  .service-5 .wrap-service5-box .card-body {
     padding: 30px;
  }

  .service-5 .wrap-service5-box .text-success-gradiant {
  	background: #2cdd9b;
  	background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
  	background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
  	background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  	background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  	background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
  	-webkit-background-clip: text;
  	background-clip: text;
  	-webkit-text-fill-color: transparent;
  	text-fill-color: transparent;
  }

  .service-5 .wrap-service5-box .icon-size{
     font-size: 26px;
     text-align: center;
  }

  .service-5 .btn-success-gradiant {
  	  background: #2cdd9b;
     background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
     background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
     background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
     background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
     background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
  }

  .service-5 .btn-success-gradiant:hover {
  	  background: #1dc8cc;
     background: -webkit-linear-gradient(legacy-direction(to right), #1dc8cc 0%, #2cdd9b 100%);
     background: -webkit-gradient(linear, left top, right top, from(#1dc8cc), to(#2cdd9b));
     background: -webkit-linear-gradient(left, #1dc8cc 0%, #2cdd9b 100%);
     background: -o-linear-gradient(left, #1dc8cc 0%, #2cdd9b 100%);
     background: linear-gradient(to right, #1dc8cc 0%, #2cdd9b 100%);
  }

  .service-5 .btn-md {
     padding: 15px 45px;
     font-size: 16px;
  }
</style>
<script>
  $("#btnFetch").click(function() {
  // disable button
  $(this).prop("disabled", true);
  // add spinner to button
  $(this).html(
  '<i class="fa fa-circle-o-notch fa-spin"></i> creating bill && send mail order ...'
  );
  });
  function deleteItems() {
    // Clear localStorage items 
     localStorage.clear();
     location.reload();
  }
</script>
