<section>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="left-sidebar">
      <%= render 'orders/left' %>
      </div>
    </div>
    
    <div class="col-sm-9 padding-right">
    <section id="cart_items">
		<div class="">
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
                            <td class="id">ID</td>
							<td class="image">Image</td>
							<td class="description">Name</td>
                            <td class="description">Price</td>
                            <td class="date">Day<td>
							<td></td>
						</tr>
					</thead>
					<tbody>
          <% @results[:history_products].each do |p| %>
              <tr>
                <td>
                   <p><%=p.product_id%></p>
                </td>
                <td class="cart_product">
                <% if p.product.image.attached? %>
                  <a href="/product-details/<%= p.product.title.parameterize%>~<%=p.product_id%>"><img src="<%= url_for(p.product.image) %>" alt=""width="110" height="110"</a>
                <% end %>
                </td>
                <td class="cart_title">
                  <h4><a href="/product-details/<%= p.product.title.parameterize%>~<%=p.product_id%>"><%= p.product.title %></a></h4>
                </td>
                <td class="cart_price">
                   <span><%= p.product.price %></span>
                </td>
                <td><%= p.created_at.strftime("%d/%m/%Y") %></td>
              </tr>
          <% end %>
					</tbody>
				</table>

			</div>
              <%= paginate @results[:history_products] %>

		</div>
	</section> <!--/#cart_items-->
      
    </div>
  </div>
</div>
</section>